/*.container-name {*/
/*    margin-left: 80px;*/
/*    padding-top: 20px;*/
/*    font-size: 20px;*/
/*}*/

/*.filter {*/
/*    width: 60%;*/
/*    height: 200px;*/
/*    margin: 50px 50px 50px 80px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    box-shadow: 0 3px 14px #0000001f;*/
/*    border-radius: 8px;*/
/*}*/

/*.dropdown_brand, .dropdown_model {*/
/*    display: inline-block;*/
/*    padding: 15px;*/
/*}*/

/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #f9f9f9;*/
/*    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
/*    width: 250px;*/
/*    max-height: 200px;*/
/*    overflow-y: auto;*/
/*    z-index: 1;*/
/*    border-radius: 5px;*/
/*    overflow: scroll;*/
/*}*/

/*.dropdown-content label {*/
/*    padding: 15px*/
/*}*/

/*.dropdown-content a {*/
/*    color: black;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*}*/

/*.dropdown-content a:hover {*/
/*    background-color: #f1f1f1;*/
/*}*/

/*.dropdown_brand.active .dropdown-content, .dropdown_model.active .dropdown-content{*/
/*    display: block;*/
/*}*/

/*.dropdown_brand input[type="text"], .dropdown_model input[type="text"] {*/
/*    width: 230px;*/
/*    background-color: #f1f1f1;*/
/*    color: black;*/
/*    padding: 10px 10px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*}*/






/*.container {*/
/*    margin-left: 60px;*/
/*}*/

/*.card {*/
/*    display: flex;*/
/*    width: 70%;*/
/*    margin: 20px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 8px;*/
/*    overflow: hidden;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.card-image {*/
/*    width: 40%;*/
/*    overflow: hidden;*/
/*}*/

/*.image {*/
/*    width: 100%;*/
/*    height: 0;*/
/*    padding-top: 75%;*/
/*    position: relative;*/
/*}*/

/*.image img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

/*.card-info {*/
/*    padding: 20px;*/
/*    width: 60%;*/
/*    box-sizing: border-box;*/
/*}*/

/*h2 {*/
/*    margin-bottom: 10px;*/
/*}*/

/*p {*/
/*    margin-bottom: 8px;*/
/*}*/


.container-name {
    margin-left: 80px;
    padding-top: 20px;
    font-size: 20px;
}

.filter {
    height: 200px;
    width: 950px;
    margin: 20px 0 50px 60px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 14px #0000001f;
    border-radius: 8px;
}

.dropdown_brand, .dropdown_model {
    display: inline-block;
    padding: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 250px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    border-radius: 5px;
    overflow: scroll;
}

.dropdown-content label {
    padding: 15px
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown_brand.active .dropdown-content, .dropdown_model.active .dropdown-content{
    display: block;
}

.dropdown_brand input[type="text"], .dropdown_model input[type="text"] {
    width: 230px;
    background-color: #f1f1f1;
    color: black;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    margin-left: 60px;
}

.row {
    display: flex;
    padding-bottom: 100px;
}

.ads_column {
    width: 1000px;
}

.reklama_column {
    padding: 64px 0 0 70px;
    margin: 0 20px;
    height: 500px;
    width: 350px;
}

.reklama_column img {
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    width: 950px;
    height: 200px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image {
    margin: 10px 0 0 10px;
    border-radius: 5px;
    width: 280px;
    height: 180px;
}

.card-image img {
    width: 280px;
    height: 180px;
}

.card-info {
    width: 670px;
    padding: 10px 20px;
}

.card-info_up {
    height: 130px;
    display: flex;
}

.card-info_down {
    height: 70px;
}

.card-info .car_name {
    flex: 40%;
    height: 26px;
    font-size: 22px;
    font-weight: bold;
}

.card-info .car_name:active, .car_name:focus, .car_name:visited, .car_name {
    color: #2d2d2d;
}

.card-info .car_name:hover {
    color: #af0b0b;
}

.card-info .car_short_info {
    margin-top: 3px;
    flex: 33%;
}

.card-info .car_short_info p {
    margin-bottom: 2px;
}

.card-info .car_price {
    flex: 22%;
    font-size: 20px;
    font-weight: bold;
}

.card-info button {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
}

.card-info .car_description{
    height: 38px;
    width: 620px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
