form {
    padding: 30px 0 50px 100px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 5px;
    width: 200px;
}

h2 {
    padding: 20px 0 30px 0;
}

.field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input, select {
    padding-left: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
    height: 50px;
	width: 300px;
	box-sizing: border-box;
	font-size: 16px;
}

input{
    padding-left: 15px;
}

textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
	border-radius: 3px;
    width: 300px;
    height: 150px;
    resize: none;
    font-size: 16px;
}

textarea::placeholder {
    padding: 5px 0 0 10px;
    font-size: 16px;
}

.dropdown_brand, .dropdown_model {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-height: 200px;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
}

.dropdown-content::-webkit-scrollbar {
  display: none;
}

.dropdown-content label {
    padding: 15px
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown_brand.active .dropdown-content, .dropdown_model.active .dropdown-content{
    display: block;
}

.dropdown_brand input[type="text"], .dropdown_model input[type="text"] {
    width: 300px;
    height: 50px;
    border: 1px solid #ccc;
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.upload_button {
    width: 300px;
    height: 50px;
}

.upload_button input[type="file"] {
    display: none;
}