.container-name {
    margin-left: 80px;
    padding-top: 20px;
    font-size: 20px;
}

.container {
    margin-left: 60px;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
}

.card {
    display: flex;
    width: 650px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image {
    margin: 5px;
    border-radius: 5px;
    width: 280px;
    height: 180px;
}

.card-image img {
    width: 280px;
    height: 180px;
}

.card-info {
    padding: 20px;
    width: 60%;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 8px;
}
