{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css" media="screen" charset="utf-8"/>
    <script src="{% static 'base.js' %}"></script>
    {% block styles%}
    {% endblock styles %}
    <title>Vroom Ville</title>
</head>

<body>
    <header>
        <div class="header-title">
            <a>Vroom Ville</a>
          </div>
        <div class="header-links">
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'buycar' %}">Объявления</a>
            <a>Аукционы</a>
            <a href="{% url 'aboutus' %}">О нас</a>
            {% if not request.user.is_authenticated %}
                <a href="{% url 'signin' %}">Вход</a>
                <a href="{% url 'signup' %}">Регистрация</a>
            {% else %}
{#                <a href="{% url 'profile' %}">Профиль</a>#}
                <div class="dropdown" id="drop-down">
                    <span>Профиль </span>
                    <label>
                    <input type="checkbox">
                    <ul>
                        <a style="color: black; font-weight: 900; font-size: 20px; display: block; padding: 6px 20px; white-space: nowrap; min-width: 100px;">{{ request.user.username }}</a>
                        <li val="Personal"><a href="{% url 'myads' %}" style="color: black">Мои объявления</a></li>
                        <li val="Personal">Избранные объявления</li>
                        <li val="Personal"><a href="{% url 'createad' %}" style="color: black">Разместить объявление</a></li>
                        <li val="Personal">Создать аукцион</li>
                        <li val="Personal"><a href="{% url 'profile' %}" style="color: black">Настройки аккаунта</a></li>
                        <li val="Exit"><a href="{% url 'logout' %}" style="color: red">Выйти</a></li>
                    </ul>
                    </label>
                </div>
            {% endif %}
        </div>
    </header>

    <main>
    {% block content %}
    {% endblock content%}
    </main>
    <footer>
        <a> 2023 Vroom Ville. Все права защищены.</a>
    </footer>
</body>

</html>
