{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'buy.css' %}"/>
    <script src="{% static 'buy.js' %}"></script>
{% endblock styles %}

{% block content %}
    <body>

    <div class="container-name">
        <a><b>Купить автомобиль</b></a>
    </div>

    <div class="filter">

        <div class="dropdown_brand" onclick="toggleDropdown()" id="dropdownContainer">
            <input type="text" name="selected_brand_name" placeholder="Марка" class="dropbtn" id="selectedBrandBtn" oninput="filterFunction(this.value)">
            <div class="dropdown-content">
                {% for brand in brands %}
                    <a class="car-brand" data-brand-id="{{ brand.id }}" data-brand="{{ brand.name }}" onclick="selectBrand(this)">{{ brand.name }}</a>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="container">
        {% for ad in ads %}
            <div class="card">
                <div class="card-image">
{#                    <img src="{% ad. %}" alt="Car Image">#}
                {% if ad.images.all %}
                    <img src="{{ ad.images.all.0.image.url }}" alt="Car Image">
                {% else %}
{#                    <img src="{% static 'path/to/placeholder-image.jpg' %}" alt="Placeholder Image">#}
                {% endif %}
                </div>
                <div class="card-info">
                    <h2></h2>
                    <p>Год выпуска: {{ ad.car.year }} </p>
                    <p>Цена: $30,000</p>
                    <a type="button" href="{% url 'carinfo' ad_id=ad.id %}">Подробнее</a>
                    {% if request.user.is_authenticated %}

                        <form method="post" action="{% url 'favorite' ad_id=ad.id %}">
                            {% csrf_token %}
                            {% if ad.id in favorite_ads %}
                                <button type="submit">Удалить из избранного</button>
                            {% else %}
                                <button type="submit">Добавить в избранное</button>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

</body>
{% endblock content %}
