{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'createad.css' %}"/>
    <script src="{% static 'createad.js' %}"></script>
{% endblock styles %}

{% block content %}
    <form method="post" action="{% url 'createauction' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="column">
            <h2>Общая информация:</h2>
            <div class="field">
                <p>Марка:</p>
                <div class="dropdown_brand" onclick="toggleDropdown()" id="dropdownContainer">
                    <input type="text" name="selected_brand_name" placeholder="Марка" class="dropbtn"
                           id="selectedBrandBtn"
                           oninput="filterFunction(this.value)">
                    <div class="dropdown-content">
                        {% for brand in brands %}
                            <a class="car-brand" data-brand-id="{{ brand.id }}" data-brand="{{ brand.name }}"
                               onclick="selectBrand(this)">{{ brand.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="field">
                <p>Модель:</p>
                <div class="dropdown_model" onclick="toggleModelDropdown()" id="dropdownModelContainer">
                    <input type="text" name="selected_model_name" placeholder="Модель" class="dropbtn"
                           id="selectedModelBtn"
                           oninput="filterModelFunction(this.value)" disabled>
                    <div class="dropdown-content" id="modelDropdown" data-brand-id="">
                        {% for model in models %}
                            <a class="car-model" data-brand-id="{{ model.brand.id }}" data-model="{{ model.name }}"
                               onclick="selectModel(this)">{{ model.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="field">
                <p>Пробег:</p>
                <input type="text" name="mileage" placeholder="Пробег" id="mileage">
            </div>

            <div class="field">
                <p>Цвет:</p>
                <select name="color" id="color">
                    <option>Белый</option>
                    <option>Черный</option>
                    <option>Голубой</option>
                    <option>Желтый</option>
                </select>
            </div>

            <div class="field">
                <p>Тип кузова:</p>
                <select name="bodytype" id="bodytype">
                    <option>Хэтчбэк (3 дв.)</option>
                    <option>Хэтчбэк (5 дв.)</option>
                    <option>Седан</option>
                    <option>Купе</option>
                    <option>Универсал</option>
                    <option>Внедорожник</option>
                    <option>Пикап</option>
                    <option>Кроссовер</option>
                    <option>Кабриолет</option>
                    <option>Минивен</option>
                    <option>Родстер</option>
                    <option>Лимузин</option>
                </select>
            </div>

            <div class="field">
                <p>VIN номер:</p>
                <input type="text" name="vin" placeholder="VIN" id="vin">
            </div>
        </div>
        <h2>Двигатель:</h2>
        <div class="field">

            <p>Тип двигателя:</p>
            <select name="enginetype" id="enginetype">
                <option>Бензин</option>
                <option>Дизель</option>
                <option>Электрический</option>
                <option>Гибрид</option>
            </select>
        </div>

        <div class="field">
            <p>Лошадиные силы:</p>
            <input type="number" name="horsepower" placeholder="Лошадиные силы" id="horsepower">
        </div>

        <div class="field">
            <p>Объем двигателя:</p>
            <input type="number" name="capacity" placeholder="Объем двигателя" id="capacity">
        </div>

        <div class="field">
            <p>Крутящий момент:</p>
            <input type="number" name="torque" placeholder="Крутящий момент" id="torque">
        </div>

        <div class="field">
            <p>Расход топлива:</p>
            <input type="number" name="fuelconsuption" placeholder="Расход" id="fuelconsuption">
        </div>

        <div class="field">
            <p>Год выпуска:</p>
            <input type="text" name="year" placeholder="Год" id="mileage">
        </div>
        <h2>Подвеска:</h2>
        <div class="field">

            <p>Тип подвески:</p>
            <select name="suspensiontype" id="suspensiontype">
                <option>Рессорная подвеска</option>
                <option>Торсионная подвеска</option>
                <option>Подвеска с продольными рычагами</option>
                <option>Зависимая подвеска</option>
                <option>Независимая подвеска</option>
                <option>Двухрычажная подвеска</option>
                <option>Подвеска типа Макферсон</option>
                <option>Пневматическая подвеска</option>
                <option>Многорычажная подвеска</option>
            </select>
        </div>

        <div class="field">
            <p>Клиренс:</p>
            <input type="number" name="clearance" placeholder="Клиренс" id="clearance">
        </div>
        <h2>Коробка передач:</h2>
        <div class="field">

            <p>Тип коробки передач:</p>
            <select name="gearboxtype" id="gearboxtype">
                <option>Автоматическая</option>
                <option>Механическая</option>
                <option>Вариатор</option>
                <option>Роботизированная</option>
            </select>
        </div>

        <div class="field">
            <p>Число передач:</p>
            <input type="number" name="gearnumber" placeholder="Число передач" id="gearnumber">
        </div>

        <div class="field">
            <p>Начальная цена:</p>
            <input type="number" name="start_price" placeholder="Начальная цена" id="start_price">
        </div>

    <div class="field">
            <p>Дата начала аукциона:</p>
            <input type="datetime-local" name="start_date" placeholder="Дата начала аукциона" id="start_date">
        </div>
        <div class="field">
            <p>Дата конца аукциона:</p>
            <input type="datetime-local" name="end_date" placeholder="Дата конца аукциона" id="end_date">
        </div>

        <div class="field" style="align-items: start">
            <p>Описание:</p>
            <textarea name="description" placeholder="Описание" id="description"></textarea>
        </div>

        <div class="field">
            <p id="photos_count">Выберите фотографии:</p>
            <button class="upload_button" id="upload-avatar-btn" type="button">
                Выбрать
                <input type="file" id="upload-avatar-inp" name="images" accept="image/png, image/jpeg" multiple/>
            </button>
        </div>

        <script>
            document.getElementById('upload-avatar-btn').addEventListener("click", function () {
                document.getElementById('upload-avatar-inp').click();
            });
            document.getElementById('upload-avatar-inp').addEventListener("change", function () {
                var count =  document.getElementById('upload-avatar-inp').files.length

                if (count === 1) {
                    document.getElementById('photos_count').innerText =
                     '1 фотография выбрана';
                }
                else if (count > 1 && count <= 4) {
                    document.getElementById('photos_count').innerText =
                     count + ' фотографии выбрано';
                }
                else if (count > 20 && count%10 && count%10 <= 4) {
                    document.getElementById('photos_count').innerText =
                     count + ' фотографии выбрано';
                }
                else {
                    document.getElementById('photos_count').innerText =
                     count + ' фотографий выбрано';
                }
            });
        </script>

        <div class="field" style="padding-top: 50px">
            <button type="submit" style="height: 50px; width: 200px">
                Создать объявление
            </button>
        </div>

    </form>
{% endblock content %}
