{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'createad.css' %}"/>
    <script src="{% static 'createad.js' %}"></script>
{% endblock styles %}

{% block content %}
    <body>
<form method="post" action="{% url 'createad' %}">
    {% csrf_token %}

    <div class="dropdown_brand" onclick="toggleDropdown()" id="dropdownContainer">
        <input type="text" name="selected_brand_name" placeholder="Марка" class="dropbtn" id="selectedBrandBtn" oninput="filterFunction(this.value)">
        <div class="dropdown-content">
            {% for brand in brands %}
                <a class="car-brand" data-brand-id="{{ brand.id }}" data-brand="{{ brand.name }}" onclick="selectBrand(this)">{{ brand.name }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="dropdown_model" onclick="toggleModelDropdown()" id="dropdownModelContainer">
        <input type="text" name="selected_model_name" placeholder="Модель" class="dropbtn" id="selectedModelBtn" oninput="filterModelFunction(this.value)">
        <div class="dropdown-content" id="modelDropdown">
            {% for model in models %}
                <a class="car-model" data-brand-id="{{ model.brand_id.id }}" data-model="{{ model.name }}" onclick="selectModel(this)">{{ model.name }}</a>
            {% endfor %}
        </div>
    </div>

    <a>Пробег</a>
    <input type="text" name="mileage" placeholder="км" id="mileage">

    <a>Choose a color:</a>
    <select name="color" id="color">
        <option>White</option>
        <option>Black</option>
        <option>Blue</option>
        <option>Yellow</option>
    </select>

    <button type="submit">
        создать объявление
    </button>
</form>


    </body>
{% endblock content %}
