{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
{% endblock styles %}

{% block content %}
    <body>
    <div class="container-name">
        <a><b>Рекомендации 🔥</b></a>
    </div>

    <div class="container">
        {% for ad in ads %}
            <div class="card">
                <div class="card-image">
                    {% if ad.images.all %}
                        <img src="{{ ad.images.all.0.image.url }}" alt="Car Image">
                    {% endif %}
                </div>
                <div class="card-info">
                    <h2>{{ ad.car.brand.name }} {{ ad.car.model.name }}</h2>
                    <p>Год выпуска: {{ ad.car.year }}</p>
                    <p>Цена: {{ ad.price }}р.</p>
                    <p>Пробег: {{ ad.car.mileage }}км.</p>
                    <a href="{% url 'carinfo' ad_id=ad.id %}">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock content %}
