{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
{% endblock styles %}

{% block content %}
    <body>
    <div class="container-name">
        <a><b>Рекомендации 🔥</b></a>
    </div>

    <div class="container">
        {% for ad in ads %}
            <div class="card">
                <div class="card-image">
                    {% if ad.images.all %}
                        <img src="{{ ad.images.all.0.image.url }}" alt="Car Image">
                    {% endif %}
                </div>
                <div class="card-info">
                    <h2>Марка и модель автомобиля</h2>
                    <p>Год выпуска: 2022</p>
                    <p>Цена: $30,000</p>
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock content %}
