{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'signin.css' %}"/>
{% endblock styles %}

{% block content %}
    <body>
    <div class="container" style="margin: 60px auto;">
        <div class="login-page">
            <h1 class="login-page__header">Sign Up</h1>
            <form method="POST" class="login-form">
                {% csrf_token %}
                <label for="username" class="form__username">Username:</label>
                <input class="form__input-username"
                        type="text"
                        placeholder="username"
                        id="username"
                        name="username"
                        required
                        value="{{ username }}"
                />
                {% if error_username %}
                    <p style="color: #c00000; margin-left: 20px">Ошибка: {{ error_username }}</p>
                {% endif %}
                <label for="email" class="form__username">Email:</label>
                <input class="form__input-username"
                        type="email"
                        placeholder="email"
                        id="email"
                        name="email"
                        required
                        value="{{ email }}"/>
                {% if error_email %}
                    <p style="color: #c00000; margin-left: 20px">Ошибка: {{ error_email }}</p>
                {% endif %}
                <label for="phone" class="form__username">Phone:</label>
                <input class="form__input-username"
                        type="tel"
                        placeholder="phone number"
                        id="phone"
                        name="phone"
                        required
                        value="{{ phone }}"/>
                {% if error_phone %}
                    <p style="color: #c00000; margin-left: 20px">Ошибка: {{ error_phone }}</p>
                {% endif %}
                <label for="name" class="form__username">First name:</label>
                <input class="form__input-username"
                        type="text"
                        placeholder="first name"
                        id="name"
                        name="first_name"
                        required
                        value="{{ first_name }}"/>
                {% if error_first_name %}
                    <p style="color: #c00000; margin-left: 20px">Ошибка: {{ error_first_name }}</p>
                {% endif %}
                <label for="password" class="form__username">Password:</label>
                <input class="form__input-username"
                        type="password"
                        placeholder="password"
                        id="password"
                        name="password1"
                        required/>
                {% if error_password %}
                    <p style="color: #c00000; margin-left: 20px">Ошибка: {{ error_password }}</p>
                {% endif %}
                <label for="repeat_password" class="form__username">Repeat password:</label>
                <input class="form__input-password"
                        type="password"
                        placeholder="repeat password"
                        id="repeat_password"
                        name="password2"
                        required/>
                {{ form.errors }}
                <button type="submit" class="form__signin">
                    Sign Up
                </button>
            </form>
            <p class="message">
                Уже зарегистрированы? <a href="{% url 'signin' %}">Вход</a>
            </p>
        </div>
    </div>
    </body>
{% endblock content %}
