@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 370px;
}

header {
    background-color: black;
    border-bottom: 1px solid #c6c6c8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
}

.header-title {
    padding: 10px;
    margin: 10px;
    padding-left: 70px;
    font-size: 30px;
}

.header-title a,
.header-title a:visited,
.header-title a:hover,
.header-links a,
.header-links a:visited,
.header-links a:hover {
    color: white;
}

.header-links a:active,
.header-title a:active {
    color: lightgray;
}

.header-links {
    flex-direction: row;
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    align-content: center;
}

.header-links a {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}




.container {
    border-radius: 10px;
    background-color:white;
    margin: 150px auto;
    padding: 25px;
    width: 100%;
    max-width: 370px;
}

.register-page__header { 
    text-align: center;
    padding-top: 5px;
}

.register-form {
    padding-top: 25px;
    padding-bottom: 15px;
}

.form__username {
    display: flex;
    margin-bottom: 5px;
}

.form__input-username {
    display: flex;
    width: 96.5%;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 7px;
}

.form__phone {
    display: flex;
    margin-bottom: 5px;
}

.form__input-phone {
    display: flex;
    width: 96.5%;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 7px;
}

.form__password, .form__repeat-password {
    display: flex;
    margin-bottom: 5px;
}

.form__input-password, .form__input-repeat-password {
    display: flex;
    width: 96.5%;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 15px;
}

.form__signup {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    /* margin-top: 15px; */
}

.message {
    text-align: center;
    font-size: 15px;
}

a {
    text-decoration: none;
}
